:root {
    --primary-color: white;
    --secondary-color: red;
    --third-color: green;
    --third-color-light: #005005;
    --text-color: black;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/RobotoLight.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/RobotoRegular.ttf");
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    margin: 0px;
    padding: 0px;
    
    min-height: 100vh;
    
    position: relative;
    
    box-sizing: border-box;
    
    font-family: "Roboto-Regular";
}

a {
    color: inherit;
    text-decoration: none;
}

.navBar {
    width: 100vw;
    height: 60px;
    
    background-color: var(--primary-color);
    
    position: fixed;
    z-index: 10;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    box-shadow: 0px -5px 10px 5px green;
}

.tabletNav {
    display: none;
}

.navBarMenu {
    width: 30px;
    height: 30px;
    
    margin-right: 10px;
    
    -webkit-mask:url(../img/icons/menuIcon.svg) center/contain;
    background-color: var(--text-color);
    background-repeat: no-repeat;
    background-size: contain;
}

.navItem {
    margin-left: 10px;
    margin-right: 10px;
    
    font-weight: 500;
    font-size: 17px;
}

.navItem:hover {
    color: var(--third-color);
}

.navBarlogo {
    width: calc(886px / 5);
    height: calc(206px / 5);
    
    background-image: url(../img/icons/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.navBarLastitem {
    margin-right: 20px;
}

.navItem.image {
    width: 30px;
    height: 30px;
}

#accountIcon {
    width: 100%;
    height: 100%;
    
    -webkit-mask:url(../img/icons/accountIcon.svg) center/contain;
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
}

.navItem.image:hover #accountIcon{
    background-color: var(--third-color);
}

.main { 
    position: relative;
    top: 60px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: 100vw;
    min-height: 80vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formTitle {
    width: 100%;
    
    margin-top: calc(10px + 50px);
    margin-bottom: 10px;
    
    font-size: 30px;
    font-family: "Roboto-Light";
    
    text-align: center;
}

.form {
    width: 100%;
    
    margin-top: 50px;
    margin-bottom: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

textarea, input { outline: none; }

.item {
    height: 30px;
    
    border-radius: 2px;
    border-style:solid;
    border-color: white;
    background-color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 20px;
    
    box-shadow: 0px 0px 10px 0.5px green;
}

.item.text {
    border: none;
    background-color: transparent;
    
    margin-top: 20px;
    margin-bottom: 5px;
    
    text-align: center;
    
    font-family: "Roboto-Light";
    font-size: 20px;
    
    box-shadow: none;
}

.item.first, .item.last, item.text.first {
    margin-top: 0;
}

.item.last.button {
    width: 80px;
    height: 35px;
    
    background-color: var(--third-color);
    color: white;
    
    border: none;
    border-radius: 10px;
}

.item.last.button:hover {
    background-color: var(--third-color-light);
}

.footer {
    width: 100vw;
    
    background-color: var(--third-color);
    
    position: relative;
    top: 60px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: white;
}

.footerItem {
    width: 100vw;
    
    margin-top: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerItemTitle {
    width: 100%;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    font-weight: bold;
}

.footerItemText {
    width: 100%;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footerItemTitleTxt {
    margin-left: 10px;
}

.footerItemTextTxt {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.linkTxt:hover {
    color: #003d00;
}

.linksFooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#facebookLogoFooter {
    width: 20px;
    height: 20px;
    
    margin-right: 5px;
    
    -webkit-mask:url(../img/icons/facebookLogo.svg) center/contain no-repeat;
    background-color: white;
}

#facebookLogoFooter:hover{
    background-color: #003d00;
}

#instagramLogoFooter {
    width: 20px;
    height: 20px;
    
    margin-left: 10px;
    margin-right: 10px;
    
    -webkit-mask:url(../img/icons/instagramLogo.svg) center/contain no-repeat;
    background-color: white;
}

#instagramLogoFooter:hover {
    background-color: #003d00;
}

#whatsappLogoFooter {
    width: 20px;
    height: 20px;
    
    margin-left: 10px;
    
    -webkit-mask:url(../img/icons/whatsappLogo.svg) center/contain no-repeat;
    background-color: white;
}

#whatsappLogoFooter:hover {
    background-color: #003d00;
}

@media only screen and (min-width: 600px) {      
    
}

@media only screen and (min-width: 768px) {  
    .tabletNav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .phoneNav {
        display: none;
    }
    
    .item {
        width: 200px;
    }
    
    .item.last.button {
        width: 100px;
    }
    
    .buttonMain {
        width: 100px;
    }
    
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .footerItem {
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {   
    .item {
        width: 250px;
    }
    
    .item.last.button {
        width: 150px;
    }
    
    .buttonMain {
        width: 150px;
    }
    
    .footerItem {
        width: 33%;
        
        margin-top: 50px;
        margin-bottom: 30px;
    }
    
    .footerItemTitle {     
        justify-content: center;
        align-items: center;
        
        text-align: center;
    }
    
    .footerItemText {
        justify-content: center;
        align-items: center;
        
        text-align: center;
    }
}

@media only screen and (min-width: 1300px) {  
    
}
