:root {
    --primary-color: white;
    --secondary-color: red;
    --third-color: green;
    --third-color-light: #005005;
    --text-color: black;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/RobotoLight.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/RobotoRegular.ttf");
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    margin: 0px;
    padding: 0px;
    
    min-height: 100vh;
    
    position: relative;
    
    box-sizing: border-box;
    
    font-family: "Roboto-Regular";
}

a {
    color: inherit;
    text-decoration: none;
}

.navBar {
    width: 100vw;
    height: 60px;
    
    background-color: var(--primary-color);
    
    position: fixed;
    z-index: 10;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    box-shadow: 0px -5px 10px 5px green;
}

.tabletNav {
    display: none;
}

.navBarMenu {
    width: 30px;
    height: 30px;
    
    margin-right: 10px;
    
    -webkit-mask:url(../img/icons/menuIcon.svg) center/contain;
    background-color: var(--text-color);
    background-repeat: no-repeat;
    background-size: contain;
}

.navItem {
    margin-left: 10px;
    margin-right: 10px;
    
    font-weight: 500;
    font-size: 17px;
}

.navItem:hover {
    color: var(--third-color);
}

.navBarlogo {
    width: calc(886px / 5);
    height: calc(206px / 5);
    
    background-image: url(../img/icons/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.navBarLastitem {
    margin-right: 20px;
}

.navItem.image {
    width: 30px;
    height: 30px;
}

#accountIcon {
    width: 100%;
    height: 100%;
    
    -webkit-mask:url(../img/icons/accountIcon.svg) center/contain;
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
}

.navItem.image:hover #accountIcon{
    background-color: var(--third-color);
}

.main { 
    position: relative;
    top: 60px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sez1 {
    width: 100vw;
    height: 350px;
    
    background-image: url(../img/bgImg/bgImg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sez2 {
    width: 100vw;
    
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.titolo {
    width: 100%;
    
    margin-top: 60px;
    margin-bottom: 60px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    font-family: "Roboto-Light";
    font-size: 25px;
    
    color: var(--third-color);
}

.testo {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}

.testo .text {
    margin-left: 15px;
    margin-right: 15px;
}

.button {
    width: 100px;
    height: 40px;
    
    margin-top: 60px;
    margin-bottom: 60px;
    
    background-color: var(--third-color);
    color: white;
    
    border: none;
    border-radius: 10px;
}

.button:hover {
    background-color: var(--third-color-light);
}

.sez3 {
    width: 100vw;
    height: 350px;
    
    background-image: url(../img/bgImg/bgImg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sez4 {
    width: 100vw;
    
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.left {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}

.right {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    width: calc(100vw - 125px);
    height: 300px;
    
    max-width: 225px;
    
    margin-top: 60px;
    margin-bottom: 60px;
    
    box-shadow: 0px 0px 15px 0.5px green;
}

#img1 {
    background-image: url(../img/personale/personale1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#img2 {
    background-image: url(../img/personale/personale2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sez5 {
    width: 100vw;
    height: 350px;
    
    background-image: url(../img/bgImg/bgImg3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sez6 {
    width: 100vw;
    
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.linkButton {
    width: 50px;
    height: 50px;
    
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 15px;
    margin-right: 15px;
}

.buttons {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonImg {
    width: 50px;
    height: 50px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    border: none;
    border-radius: 10px;
}

#facebook {
    background-color: blue;
}

#facebookLogo {
    width: 90%;
    height: 90%;
    
    -webkit-mask:url(../img/icons/facebookLogo.svg) center/contain no-repeat;
    background-color: white;
}

#facebook:hover{
    background-color: #002f6c;
}

#instagram {
    background-image: url(../img/icons/instagramBg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#instagramLogo {
    width: 90%;
    height: 90%;
    
    -webkit-mask:url(../img/icons/instagramLogo.svg) center/contain no-repeat;
    background-color: white;
}

#instagram:hover {
    background-image: url(../img/icons/instagramBgDark.jpg);
}

#whatsapp {
    background-color: green;
}

#whatsappLogo {
    width: 90%;
    height: 90%;
    
    -webkit-mask:url(../img/icons/whatsappLogo.svg) center/contain no-repeat;
    background-color: white;
}

#whatsapp:hover {
    background-color: #00600f;
}

.footer {
    width: 100vw;
    
    background-color: var(--third-color);
    
    position: relative;
    top: 60px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: white;
}

.footerItem {
    width: 100vw;
    
    margin-top: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerItemTitle {
    width: 100%;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    font-weight: bold;
}

.footerItemText {
    width: 100%;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footerItemTitleTxt {
    margin-left: 10px;
}

.footerItemTextTxt {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.linkTxt:hover {
    color: #003d00;
}

.linksFooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#facebookLogoFooter {
    width: 20px;
    height: 20px;
    
    margin-right: 5px;
    
    -webkit-mask:url(../img/icons/facebookLogo.svg) center/contain no-repeat;
    background-color: white;
}

#facebookLogoFooter:hover{
    background-color: #003d00;
}

#instagramLogoFooter {
    width: 20px;
    height: 20px;
    
    margin-left: 10px;
    margin-right: 10px;
    
    -webkit-mask:url(../img/icons/instagramLogo.svg) center/contain no-repeat;
    background-color: white;
}

#instagramLogoFooter:hover {
    background-color: #003d00;
}

#whatsappLogoFooter {
    width: 20px;
    height: 20px;
    
    margin-left: 10px;
    
    -webkit-mask:url(../img/icons/whatsappLogo.svg) center/contain no-repeat;
    background-color: white;
}

#whatsappLogoFooter:hover {
    background-color: #003d00;
}

@media only screen and (min-width: 600px) {      
    .sez1 {
        background-size: 130% auto;
    }
    
    .testo .text {
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .sez3 {
        background-size: 130% auto;
    }
    
    .sez5 {
        background-size: 130% auto;
    }
}

@media only screen and (min-width: 768px) {  
    .tabletNav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .phoneNav {
        display: none;
    }
    
    .sez1 {
        height: 400px;
        
        background-position: center 15%;
        background-attachment: fixed;
        background-size: 120% auto;
    }
    
    .titolo {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    .testo .text {
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .sez3 {
        height: 400px;
        
        background-position: center 98%;
        background-attachment: fixed;
        background-size: 120% auto;
    }
    
    .right {
        margin-top: 60px;
        margin-bottom: 60px;
        
        flex-direction: row;
    }
    
    .img {
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 60px;
        margin-left: 60px;
    }
    
    .sez5 {
        height: 400px;
        
        background-position: center 100%;
        background-attachment: fixed;
        background-size: 120% auto;
    }
    
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .footerItem {
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {  
    .sez1 {
        height: 500px;
        
        background-position: center 15%;
    }
    
    .testo .text {
        margin-left: 300px;
        margin-right: 300px;
    }
    
    .sez3 {
        height: 500px;
        
        background-position: center 15%;
    }
    
    .right {
        margin-top: 0;
    }
    
    .img {
        max-width: 250px;
        height: 350px;
        
        margin-left: 15px;
        margin-right: 15px;
    }
    
    #testoSez4 {
        flex-direction: row;
    }
    
    #testoSez4 .text {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .sez5 {
        height: 500px;
        
        background-position: center 15%;
    }
    
    .footerItem {
        width: 33%;
        
        margin-top: 50px;
        margin-bottom: 30px;
    }
    
    .footerItemTitle {     
        justify-content: center;
        align-items: center;
        
        text-align: center;
    }
    
    .footerItemText {
        justify-content: center;
        align-items: center;
        
        text-align: center;
    }
}

@media only screen and (min-width: 1300px) {  
    .sez1 {
        height: 650px;
        
        background-position: center 15%;
    }
    
    .sez3 {
        height: 650px;
        
        background-position: center 15%;
    }
    
    #testoSez4 .text {
        margin-left: 150px;
        margin-right: 150px;
    }
    
    .testo .text {
        font-size: 18px;
    }
    
    .img {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .sez5 {
        height: 650px;
        
        background-position: center 15%;
    }
}